{% extends 'base.html.twig' %}

{% block title %}Compilation{% endblock %}

{% block body %}
    <h1>Compilation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compilation.id }}</td>
            </tr>
            <tr>
                <th>YoutubeLinks</th>
                <td>{{ compilation.youtubeLinks ? compilation.youtubeLinks|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>SpotifyLinks</th>
                <td>{{ compilation.spotifyLinks ? compilation.spotifyLinks|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>ApplemusicLinks</th>
                <td>{{ compilation.applemusicLinks ? compilation.applemusicLinks|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ compilation.description }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ compilation.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ compilation.date ? compilation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Private</th>
                <td>{{ compilation.private ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compilation_index') }}">back to list</a>

    <a href="{{ path('compilation_edit', {'id': compilation.id}) }}">edit</a>

    {{ include('compilation/_delete_form.html.twig') }}
{% endblock %}
