{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Board
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include './components/_sidenav.thml.twig' %}
    <div class="contain">
        <section class="board">
            <p> mes collections</p>
            {% for compilation in compilations %}
                    <div class="collection-container">
                        <div class="collection">
                            <div class="card card-1"></div>
                            <div class="card card-2"></div>
                            <div class="card card-3"></div>
                        </div>
                        <span class="card-title">{{ compilation.title }}</span>
                    </div>

            {% else %}
                Vous n'avez pas encore créer de collections
            {% endfor %}
        </section>

        <section class="board board-suggestions">
            <p>Suggestions</p>
            {% for suggestion in suggestions %}
                <div class="collection">
                    {{ suggestion.title }}
                </div>
            {% else %}
                Pas de suggestions pour le moment ...
            {% endfor %}
        </section>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

