{% extends 'base.html.twig' %}

{% block title %}Compilation{% endblock %}

{% block body %}
    {% include './components/_sidenav.thml.twig' %}
    <section class="interactions">
        <div class="like">
            <a href="{{ path('compilation_like', {compilation: compilation.id}) }}" id="like">
                {%  for user in compilation.likes %}
                    {% if user.id is same as app.user.id %}
                        <ion-icon name="heart" size="large"></ion-icon>
                    {% endif %}
                {% else %}
                    <ion-icon name="heart-outline" size="large"></ion-icon>
                {% endfor %}
            </a>
        </div>

        <div class="commentary">
            <a href="{{ path('compilation_comments', {compilation: compilation.id}) }}">
                <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
            </a>
        </div>
    </section>

    <div class="contain">
        {%  include './components/_compilation_details.html.twig' %}

        <section class="flex flex-wrap">
            <!-- display pictures-->
            {% for picture in compilation.pictures %}
                <div><img src="{{ asset('uploads/'~picture ) }}" alt="image"></div>
            {% endfor %}
            <!-- ./display pictures-->

            <!--display youtube -->
            {% for youtube in compilation.youtubeLinks %}
                {% for link in youtube %}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endfor %}
            {% endfor %}
            <!-- ./display youtube-->

            <!--display spotify -->
            {% for spotify in compilation.spotifyLinks %}
                <iframe src="https://open.spotify.com/embed/track/{{ spotify }}?theme=0" width="20%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {% endfor %}
            <!-- ./display spotify-->
        </section>
    </div>
{% endblock %}
