{% extends 'base.html.twig' %}

{% block title %}Compilation{% endblock %}

{% block body %}
    {% include './components/_sidenav.thml.twig' %}

    <!-- interactions -->
    <section class="interactions">
        <div class="retour">
            <a href="{{ path('user_show', {id: compilation.creator.id}) }}">
                <ion-icon name="chevron-back-outline" size="large"></ion-icon>
            </a>
        </div>
        <div class="like">
            <a href="{{ path('compilation_like', {compilation: compilation.id}) }}" id="like">
                    {% if app.user %}
                        <ion-icon name="{{ app.user.isLiked(compilation) ? 'heart' : 'heart-outline' }}" size="large"></ion-icon>
                    {% endif %}
            </a>
        </div>
            <div class="commentary">
                <a href="{{ path('compilation_comments', {compilation: compilation.id}) }}">
                    <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
                </a>
            </div>
        <div>
            {% if compilation.creator.id is same as app.user.id %}
                <form method="post" action="{{ path('compilation_delete', {'id': compilation.id}) }}" onsubmit="return confirm('Veux-tu vraiment supprimer cette collection ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compilation.id) }}">
                    <button class="btn"><ion-icon name="trash-outline" size="large"></ion-icon></button>
                </form>
            {% endif %}
        </div>
    </section>
    <!-- ./ interactions -->

    <div class="contain">
        {%  include './components/_compilation_details.html.twig' %}

        <section class="flex flex-wrap m-0">

            <!--display youtube -->
            {% for youtube in compilation.youtubeLinks %}
                {% for link in youtube %}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endfor %}
            {% endfor %}
            <!-- ./display youtube-->

            <!-- display pictures-->
            {% for picture in compilation.pictures %}
                <div><img src="{{ asset('uploads/'~picture ) }}" alt="image" class="max-w-lg"></div>
            {% endfor %}
            <!-- ./display pictures-->

            <!--display spotify -->
            {% for spotify in compilation.spotifyLinks %}
                <iframe src="https://open.spotify.com/embed/track/{{ spotify }}?theme=0" width="50%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {% endfor %}
            <!-- ./display spotify-->
        </section>
    </div>
{% endblock %}
