{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} {{ user.pseudo }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include './components/_sidenav.thml.twig' %}
    <div class="contain">
        <section class="profil-header">
            <div class="profil-avatar">
                <img src="{{ asset('uploads/' ~user.avatar) }}" alt="image profil">
            </div>
            <div class="profil-content">
                <p class="profil-pseudo">{{ user.pseudo }}</p>
                <p class="profil-description">{{ user.description }}</p>
            </div>
        </section>

        <section class="collections">
            <p>Vos mood board</p>
            <div class="collection-container">
                {% for compilation in user.compilations %}
                    <div class="collection">
                        <div class="card card-1"></div>
                        <div class="card card-2"></div>
                        <div class="card card-3"></div>
                        <div class="card card-4"></div>
                    </div>
                    <span class="card-title">
                        <a href="{{ path('compilation_show', {id: compilation.id}) }}">
                            {{ compilation.title }}
                        </a>
                    </span>

            {% else %}
            </div>
                <p>Vous n'avez pas encore de collections ...</p>
            {% endfor %}
        </section>

        <section class="likes">
            <p>Vos likes</p>
            <div class="collection-container">
                {% for compilation in user.likedCompilations %}
                    <div class="collection">
                        <div class="card card-1"></div>
                        <div class="card card-2"></div>
                        <div class="card card-3"></div>
                        <div class="card card-4"></div>
                    </div>
                    <span class="card-title">
                        <a href="{{ path('compilation_show', {id: compilation.id}) }}">
                            {{ compilation.title }}
                        </a>
                    </span>
            {% else %}
                <p>Vous n'avez pas encore de collections ...</p>
            {% endfor %}
            </div>
        </section>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
