{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} {{ user.pseudo }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include './components/_sidenav.thml.twig' %}
    <div class="contain">
        <section class="profil-header">
            <div class="profil-avatar">
                <img src="{{ asset('uploads/' ~user.avatar) }}" alt="image profil">
            </div>
            <div class="profil-content">
                <p class="profil-pseudo">{{ user.pseudo }}</p>
                <p class="profil-description">{{ user.description }}</p>
            </div>
        </section>

        <section class="compilations">
            {% for compilation in user.compilations %}
                compilation display
            {% endfor %}
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
