{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} {{ user.pseudo }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include './components/_sidenav.thml.twig' %}
    <div class="contain">
        <!-- user interactions -->
        <section class="interactions">
            <div class="like">
                {% if user.id is same as app.user.id %}
                    <a href="{{ path('user_edit', {id: user.id}) }}">
                        <ion-icon name="create-outline" size="large"></ion-icon>
                    </a>
                {% endif %}
            </div>
        </section>
        <!-- ./user interactions -->

        <section class="profil-header">
            <div class="profil-avatar">
                <img src="{{ asset('uploads/' ~user.avatar) }}" alt="image profil">
            </div>
            <div class="profil-content">
                <p class="profil-pseudo">{{ user.pseudo }}</p>
                <p class="profil-description">{{ user.description }}</p>
            </div>
        </section>

        {% if app.user.id is same as user.id %}
        <!-- app user profil-->
        <section class="bg-white rounded-2xl h-screen">
            <section class="collections">
                <p>Mes collections</p>
                <div class="collection-container">
                    {% for compilation in user.compilations %}
                        {% include '/components/_compilation_card.html.twig' %}
                    {% else %}
                </div>
                <span>Vous n'avez pas encore de collections ...</span>
                {% endfor %}
            </section>
<br>
            <section class="likes">
                <p class="mt-16">Mes likes</p>
                <div class="collection-container w-full">
                    {% for compilation in user.likedCompilations %}
                        {% include '/components/_compilation_card.html.twig' %}
                    {% else %}
                        <span class="text-sm">Vous n'avez pas encore likée de collections ...</span>
                    {% endfor %}
                </div>
            </section>
            {% else %}

            <!-- other user goes on profil-->
            <section class="bg-white m-32 rounded-2xl">
                <section class="collections">
                    <p>Ses collections publiques</p>
                    <div class="collection-container">
                        {% for compilation in user.compilations %}
                        {% if compilation.private is same as false %}
                            {% include '/components/_compilation_card.html.twig' %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </section>
                {% endif %}
            </section>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
